<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/img/book.png" />
    <link rel="stylesheet" href="/static/css/bookview.css">
    <title>Books | Listing</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/static/js/bookview.js"></script>
</body>
</html>